.main-content {
  display: flex;
  
}

.content-area {
  background-color: rgba(232, 232, 232, 0.342);
  flex-grow: 1;
}

.section__content {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgb(0, 0, 0);
}