.header {
  height: $header-height;
  background-color: rgb(121, 144, 247);
  display: flex;
  justify-content: flex-end;
}

.devices {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 100px;
}
