.header {
  height: $header-height;
  background-color: rgba(245, 244, 243, 0.178);
}

.devices {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding-top: 30px;
  padding-right: 100px;
}

.search {
  display: flex;
  align-content: center;
}

.button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.svg {
  color: #fff;
  fill: currentColor;
  width: 30px;
  height: 30px;
  padding: 10px;
}